$enable-flex: true;

// bower:scss
@import "bower_components/bootstrap/scss/bootstrap.scss";
// endbower

@import "trip.scss";

/* malihu-custom-scrollbar-plugin */
@import "/bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css";

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    background: #fafafa;
}

.wrap {
    max-width: 1110px;
    margin: 0 auto;
}

.sidebar {
    width: 80px;
    float: left;
}

.main {
    float: left;
    max-width: 1030px;
    background: #fff;
    border: 1px solid #e0e0e0;
    padding: 20px 51px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
    /* Make the masthead heading the same height as the navigation */
    h3 {
        margin-top: 0;
        margin-bottom: 0;
        line-height: 40px;
        padding-bottom: 19px;
    }
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }

    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }

    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}

.gmap {
    height: 380px;
    width: 100%;
    padding: 3px;
    border: 5px solid #ddd;
    font-size: 90%;
}

.gmap + .gmap {
    margin: 5px 0;
}


.gmap img, .gmap object, .gmap embed {
    max-width: none;
    height: auto;
}

.gmap *, .gmap *:before, .gmap *:after {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.gmap * {
    font-size: 100%;
}
