#points {
    padding: 0 0 70px 0;
}

/* points-slider */
#points-slider ul {
    width: 65px;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#points-slider {
  li {
    display: block;
    height: 60px;
    margin: 0 0 6px 0;
    padding: 0;
    border: 1px solid #e0e0e0;
    background: url(../img/icon-scheduled-pin.png) no-repeat center center #ffffff;
    &:first-child {
        background-image: url(../img/icon-home-pin.png);
    }
    // &.current {
    //     background-image: url(../img/icon-current-pin.png);
    // }
    &.visited {
        background-image: url(../img/icon-visited-pin.png);

    }
    &.current {

        background-image: url(../img/icon-current-pin.png);
    }
    &.selected {
        background-color: #4caf50;
        background-image: url(../img/icon-active-pin.png);
    }
    a {
        display: block;
        width: 100%;
        height: 100%;
    }
  }
}
.point-name {
    margin: 0 0 15px 0;
    font-family: 'ProximaNova-Regular', sans-serif;
    font-size: 35px;
    color: #000;
}

.point-details {
    color: #999999;
    font-family: 'AvenirNextCyr-Light', sans-serif;
    font-size: 14px;
}

.point-details .username {
    color: #4caf50;
    font-weight: bold;
}

.social-summary {
    margin: 30px 0 0 0;
}

.social-summary table {
    color: #73d316;
    font-size: 13px;
    width: 100%;
}

.social-summary td {
    width: 33.2%;
}

.social-summary .center {
    text-align: center;
}

.social-summary .right {
    text-align: right;
}

.social-summary span {
    display: inline-block;
    height: 25px;
    line-height: 22px;
}

.social-summary .likes {
    background-image: url(../img/icon-like.png);
    background-repeat: no-repeat;
    padding: 0 0 0 25px;
}

.social-summary .shares {
    background-image: url(../img/icon-share.png);
    background-repeat: no-repeat;
    background-position: right center;
    padding: 0 20px 0 0;
}

.social-summary .comments-count {
    background-image: url(../img/icon-comments.png);
    background-repeat: no-repeat;
    background-position: right center;
    padding: 0 25px 0 0;
}

/* point-carousel */
.point-carousel {
    margin: 20px auto;
}

.point-carousel .carousel-control {
    width: 50px;
    height: 50px;
    top: 50%;
    margin-top: -25px;
    background: #fff;
    opacity: 1;
    background-repeat: no-repeat;
    background-position: center center;
}

.point-carousel .carousel-control.left {
    left: 5px;
    background-image: url(../img/icon-arrow-left.png);
}

.point-carousel .carousel-control.right {
    right: 5px;
    background-image: url(../img/icon-arrow-right.png);
}

.point-carousel .carousel-control:hover {
    background-color: #4caf50;
}

.point-carousel .carousel-control.left:hover {
    background-image: url(../img/icon-arrow-left-white.png);
}

.point-carousel .carousel-control.right:hover {
    background-image: url(../img/icon-arrow-right-white.png);
}

.point-carousel .carousel-inner {
    margin: 0 0 10px 0;
}

.point-carousel .carousel-item img {
    width: 100%;
}

.point-carousel .carousel-indicators {
    margin: 0;
    overflow: auto;
    position: static;
    text-align: left;
    white-space: nowrap;
    width: 100%;
}

.point-carousel .carousel-indicators ol {
    position: relative;
    margin: 0;
    min-height: 58px;
    padding: 0;
    width: 100%;
    overflow: auto;
    z-index: 10;
}

.carousel-indicators .active {
    height: auto;
}

.carousel-indicators li.active {
    height: 12px;
}

.point-carousel .carousel-indicators li {
    background-color: transparent;
    -webkit-border-radius: 0;
    border-radius: 0;
    display: inline-block;
    height: auto;
    margin: 0 3px 0 0;
    width: auto;
    padding: 3px;
    border: 1px solid #f6f6f6;
}

.point-carousel .carousel-indicators li img {
    display: block;
    width: 119px;
    height: 82px;
    opacity: 1;
}

.point-carousel .carousel-indicators li.selected img {
    opacity: 1;
}

.point-carousel .carousel-indicators li:hover img {
    opacity: 0.75;
}

.spacer {
    width: 56%;
    margin: 0 auto 30px auto;
    height: 1px;
    background: #e7e7e7;
}

.point-desc {
    padding: 0 30px 20px 30px;
    color: #555555;
    font-size: 16px;
    line-height: 1.7em;
}

.point-desc h5 {
    margin: 20px 0 15px 0;
    font-family: 'AvenirNextCyr-Medium', sans-serif;
}

.point-desc p {
    margin: 0 0 10px 0;
}

.point {
    display: none;
}

.point .content {
    margin: 0 0 50px 0;
    padding: 20px 51px;
    background: #fff;
    border: 1px solid #e0e0e0;
    -webkit-box-shadow: 0px 2px 3px 0px rgba(232,232,232,1);
    -moz-box-shadow: 0px 2px 3px 0px rgba(232,232,232,1);
    box-shadow: 0px 2px 3px 0px rgba(232,232,232,1);
}

.point.selected {
    display: block;
}

.comments {
    max-width: 744px;
    margin: 0 auto;
}

.comments h4 {
    color: #959595;
    font-size: 25px;
    font-family: 'ProximaNova-Semibold', sans-serif;
    margin: 0 0 20px 35px;
}

.new-comment {
    color: #999;
    font-size: 16px;
    margin: 0 0 20px 0;
}

.new-comment textarea {
    display: block;
    width: 100%;
    padding: 22px 0 0 74px;
    border: 3px solid #4caf50;
    font-family: 'AvenirNextCyr-Thin', sans-serif;
    font-size: 16px;
    background: url(../img/icon-monster.png) no-repeat 17px 17px #fff;
    outline: none;
}

.comment {
    margin: 0 0 17px 0;
    padding: 20px 20px;
    background: #fff;
    -webkit-box-shadow: 0px 2px 3px 0px rgba(232,232,232,1);
    -moz-box-shadow: 0px 2px 3px 0px rgba(232,232,232,1);
    box-shadow: 0px 2px 3px 0px rgba(232,232,232,1);
}

.comment .caption {
    padding: 0 0 18px 52px;
    background: url(https://s3.amazonaws.com/uploads.hipchat.com/64153/950643/3Uz6LQj31wbdPri/av-1.png) no-repeat;
}

.comment .author {
    font-family: 'AvenirNextCyr-Medium', sans-serif;
    font-size: 14px;
    color: #4caf50;
}

.comment .date {
    font-size: 13px;
}

.comment .text {
    padding: 0 0 30px 8px;
}

.comment .likesCount {
    background: url(../img/icon-like.png) no-repeat;
    margin: 0 0 0 8px;
    padding: 0 0 0 25px;
    font-size: 13px;
    font-family: 'AvenirNextCyr-Light', sans-serif;
}

.comment .likesCount.thereAreLikes {
    color: #4caf50;
}

.comments .view-more-comments {
    display: block;
    background: #4caf50;
    width: 100%;
    margin: 28px 0 0 0;
    padding: 16px 0 15px 0;
    color: #fff;
    text-align: center;
    font-family: 'ProximaNova-Semibold', sans-serif;
    font-size: 25px;
    position: relative;
}

.comments .view-more-comments span {
    position: absolute;
    display: inline-block;
    border: 1px solid #fff;
    padding: 3px 7px;
    border-radius: 4px;
    right: 30px;
    top: 21px;
    font-size: 13px;
    font-family: 'AvenirNextCyr-Medium', sans-serif;
}
